.box-card{
    max-width: 18rem;
}

.imagem-carrossel{
    object-fit: cover;
    object-position: 0 80%; 
    height: 400px;
}

.fonte-titulo, .bd-example h2{
    font-family: 'Pacifico', cursive;
}

.fonte-titulo h2{
    font-size: 2.5rem;
}

.cor-especial{
    color:darkred !important;
}


.botao-cor-especial{
    background-color: darkred;
    color: #fff;
}

.borda-cor-especial{
    border-color: darkred;
}

.car-posicao-imagem{
    object-fit: cover;
    /* object-position: 0 80%; */
    height: 200px;
}